
extends ../layout/main
block variable
  -
    var title_page = 'about-bukovel'
    var id_page = 'id-page-about-bukovel'
    var class_page = 'class-page-about-bukovel'
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
    var headerCustomClass = 'type2'
    var bukovelPhotos =[
    {num: 1, text: "Буковель налічує більшеніж 75 км лижних трас"},
    {num: 2, text: "17 витягів"},
    {num: 3, text: "Цілюще повітря"},
    {num: 4, text: "Voda Club"},
    {num: 5, text: "Ресторани"},
    {num: 6, text: "Спортзали та спортивні майданчики"},
    {num: 7, text: "Розважальні центри та нічні клуби"},
    {num: 8, text: "Veranda Bar & Lounge"},
    {num: 9, text: "Банька на дровах"},
    {num: 10, text: "Медичний центр та аптека"},
    {num: 11, text: "Дитячі атракціони"},
    {num: 12, text: "Ковзанка"},
    {num: 13, text: "Велосипедні маршрути"},
    {num: 14, text: "Родельбан"},
    {num: 15, text: "Гуцул Ленд"},
    {num: 16, text: "Озеро молодості"},
    {num: 17, text: "Пішохідні маршрути"},
    {num: 18, text: "Велопарк та троллейна переправа"},
    {num: 19, text: "Питна вода з крану"},
    {num: 20, text: "Автомийка"},
    {num: 21, text: "Салон краси "},
    {num: 22, text: "Сувенірний ринок"},
    ]

block meta
  title= title_page
  meta(name='description' content='')
block head
  link(rel='stylesheet' href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/aboutBukovel.bundle.js')
  script(defer src='./assets/scripts/header.bundle.js')
block content
  .background
    canvas.background__canvas
  <div class="scroll is-visible"></div>
  section.about-bukovel
    .container
      h1.page-title Про Буковель
      .about-bukovel__descr-wrap
        .about-bukovel__left-block
          +svg("bukovel-logo").about-bukovel__logo-svg
        p.about-bukovel__right-block  УСІ УМОВИ ДЛЯ СПОРТУ, БІЗНЕСУ, ВІДПОЧИНКУ ТА ОЗДОРОВЛЕННЯ:
    .about-bukovel__grid 
      each photo in  bukovelPhotos 
        div(class=`about-bukovel__grid-img-${photo.num} about-bukovel__grid-img`)
          img( src=`./assets/images/aboutBukovel/${photo.num}.jpg` alt=`bukovel ${photo.num}`).about-bukovel__grid-img
          p.about-bukovel__img-descr=photo.text
    .about-bukovel__text-block.container
      .about-bukovel__text-wrapper
        p 
          span Гірськолижний курорт №1 в Україні 
          | знаходиться біля підніжжя однойменної гори, в с.Поляниця Яремчанської міської ради, на висоті 900 метрів над рівнем моря, за 30 км від м. Яремче та 100 км від Івано-Франківська.
        p 
          span Завдяки вдалому розміщенню та унікальним кліматичним умовам, сніг тут випадає рано і у великій кількості, 
          |  що в поєднанні з раціональною та ефективною роботою зі снігонапилення і підготовкою трас, забезпечує стабільне снігове покриття, яке зберігається з листопада до кінця квітня.
    .about-bukovel__winter-photos 
      img(src="./assets/images/aboutBukovel/1.jpg" alt="winter").big-photo
      .small-photos__container 
        .small-photo__wrapper
          img(src="./assets/images/aboutBukovel/2.jpg" alt="winter").small-photo
        .small-photo__wrapper
          img(src="./assets/images/aboutBukovel/3.jpg" alt="winter").small-photo
    .about-bukovel__summer-desc.container 
      p.about-bukovel__left-block БУКОВЕЛЬ ВЛІТКУ – ВСЕСЕЗОННИЙ ВІДПОЧИНОК
      p.about-bukovel__right-block  Літній сезон 2016 став рекордним за всю історію курорту та розпочав тенденцію до всесезонності відпочинку в «Буковелі», адже 
        span за три літні місяці курорт відвідало близько мільйона гостей. Для літнього відпочинку в Карпатах варто обрати узбережжя Озера Молодості та SPA-комплекс VODA club. 
        | Комплекс приймає до 2000 відвідувачів щодня. До ваших послуг басейни, джакузі, дитяча тераса, відкриті тераси, водний парк, унікальна плавуча сцена та інші розваги.
    .about-bukovel__summer-photos 
      img(src="./assets/images/aboutBukovel/1.jpg" alt="winter").big-photo
      .small-photos__container 
        .small-photo__wrapper
          img(src="./assets/images/aboutBukovel/2.jpg" alt="winter").small-photo
        .small-photo__wrapper
          img(src="./assets/images/aboutBukovel/3.jpg" alt="winter").small-photo
  include ../includes/chalet-section.pug

block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
