
extends ../layout/main
block variable
  -
    var title_page = 'home'
    var id_page = 'id-page-home'
    var headerCustomClass = 'type1'
    var class_page = 'class-page-home'
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
    var spaCards = [{num: 1, text: 'БАСЕЙН "ВИЩЕ НЕБА"' },{num: 2, text: 'БАСЕЙН "ЛАГУНА"' },
    {num: 3, text: 'БАНЯ МОЛЬФАРА' },{num: 4, text: 'ПАНОРАМНА ШОУ-САУНА' },
    {num: 5, text: 'ЯПОНСЬКІ БАНІ "ОФУРО"' },{num: 6, text: 'БАНЯ МАГІЧНІ КУЛІ' },
    {num: 7, text: 'МЕДИТАЦІЙНА БАНЯ' },{num: 8, text: 'ТУРЕЦЬКИЙ ХАМАМ' },
    {num: 9, text: 'РИМСЬКА БАНЯ' },{num: 10, text: 'ПРОЦЕДУРНІ КІМНАТИ' },
    {num: 11, text: 'ФІТО КІМНАТА' },{num: 12, text: "М'ЯКА КІМНАТА" },
    {num: 13, text: 'МАСАЖНІ КІМНАТИ' },{num: 14, text: 'ДУБОВА КІМНАТА' },{num:15, text: "ВИДОВИЙ СПОРТЗАЛ"}]

    var rooftopCards = [{num: 1, text: 'БАСЕЙН "ВИЩЕ НЕБА"' },{num: 2, text: 'БАСЕЙН "ЛАГУНА"' },
    {num: 3, text: 'БАНЯ МОЛЬФАРА' },{num: 4, text: 'ПАНОРАМНА ШОУ-САУНА' }]

    var skiFunCards = [{num: 1, text: 'DIRECT SKI IN/SKI OUT' },{num: 2, text: 'АПРЕ-СКІ ТЕРАСА' },
    {num: 3, text: 'ТРЕВЕЛАТОР' },{num: 4, text: 'НАВЧАЛЬНА ГІРКА' },{num: 5, text: 'ЛИЖНА ІНФРАСТРУКТУРА' }]

      var foodCards = [{num: 1, text: 'ПАНОРАМНИЙ РЕСТОРАН' },{num: 2, text: 'АЗІЙСЬКИЙ РЕСТОРАН' },
    {num: 3, text: 'ЛОБІ БАР' },{num: 4, text: 'ЛІНІЯ СНІДАНКІВ' }]

    var businessCards = [{num: 1, text: 'КОНФЕРЕНЦ-ЗАЛИ' },{num: 2, text: 'БАНКЕТНІ ЗАЛИ' },
    {num: 3, text: 'КОВОРКІНГ ЛАУНДЖ' }]

    var hotelCards = [{num: 1, text: 'САЛОН КРАСИ' },{num: 2, text: 'ТОРГІВЕЛЬНА ЗОНА' },
    {num: 3, text: 'ДИТЯЧА КІМНАТА' },{num: 4, text: 'ЦІЛОДОБОВА РЕЦЕПЦІЯ' },
    {num: 5, text: 'КОНСЬЄРЖ СЕРВІС' },{num: 6, text: 'ВЕЛОПАРКОВКА ПІД ОХОРОНОЮ' },
    {num: 7, text: 'КРИТИЙ ПАРКІНГ' },{num: 8, text: 'ТРАНСФЕРИ ТА ТАКСІ' },]

block meta
  title= title_page
  meta(name='description' content='')
block head
  link(rel='stylesheet' href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/home.bundle.js')
  script(defer src='./assets/scripts/header.bundle.js')

block content
  .background
    canvas.background__canvas
  <div class="scroll is-visible"></div>
  section.hero-section

    .container.hero__bg
      div.section-title.spa-title 
        span.section-title__first-row 
          h1 Mountain
          ul.hero__social-list
            li 
              a(href="tel:+38 034 259 50 00" target="_blank" rel="noreferrer noopener nofollow") instagram
            li 
              a(href="tel:+38 034 259 50 00" target="_blank" rel="noreferrer noopener nofollow") facebook
            li 
              a(href="tel:+38 034 259 50 00" target="_blank" rel="noreferrer noopener nofollow") youtube
            li 
              a(href="tel:+38 034 259 50 00" target="_blank" rel="noreferrer noopener nofollow") cartel restaurants 

        span.section-title__first-row
          p.hero__text-block Продаж апартаментів в самому центрі Буковелю! Інвестиція, приречена на успіх!
          h2  Residence
      .hero__invest-more-wrap 
        buttom.arrow-down__button 
          <svg class="arrow-down__svg " viewBox="0 0 179 138" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M-2.55046e-06 71.6522L169 71.6522M169 71.6522L169 61.0435L105.625 7.99999M169 71.6522L169 82.2609L105.625 130" stroke="white" stroke-width="10" />
          </svg>
        include ../includes/invest-link.pug
  section.content.content--spacing
    .grid.grid--3
      .grid-wrap
        .grid__item
          .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/18.jpg)')
        .grid__item
          .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/29.jpg)')
        .grid__item
          .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/6.jpg)')
        .grid__item
          .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/37.jpg)')
        .grid__item
          .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/15.jpg)')
        .grid__item
          .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/32.jpg)')
        //- .grid__item
        //-     .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/41.jpg)')
        .grid__item
          .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/23.jpg)')
        .grid__item
          .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/5.jpg)')
        .grid__item
          .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/12.jpg)')
        .grid__item
          .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/27.jpg)')
        .grid__item
          .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/1.jpg)')
        //- .grid__item
        //-     .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/46.jpg)')
        .grid__item
          .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/35.jpg)')
        .grid__item
          .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/20.jpg)')
        .grid__item
          .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/39.jpg)')
        .grid__item
          .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/8.jpg)')
        .grid__item
          .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/25.jpg)')
        .grid__item
          .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/2.jpg)')
        //- .grid__item
        //-     .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/44.jpg)')
        //- .grid__item
        //-     .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/43.jpg)')
        .grid__item
          .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/17.jpg)')
        .grid__item
          .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/26.jpg)')
        .grid__item
          .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/11.jpg)')
        .grid__item
          .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/14.jpg)')
        .grid__item
          .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/7.jpg)')
        .grid__item
          .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/33.jpg)')
        .grid__item
          .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/30.jpg)')
        .grid__item
          .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/10.jpg)')
        .grid__item
          .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/21.jpg)')
        .grid__item
          .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/16.jpg)')
        .grid__item
          .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/31.jpg)')
        .grid__item
          .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/24.jpg)')
        .grid__item
          .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/36.jpg)')
        //- .grid__item
        //-     .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/42.jpg)')
        .grid__item
          .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/3.jpg)')
        .grid__item
          .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/38.jpg)')
        .grid__item
          .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/9.jpg)')
        .grid__item
          .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/4.jpg)')
        .grid__item
          .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/40.jpg)')
        .grid__item
          .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/28.jpg)')
        .grid__item
          .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/22.jpg)')
        .grid__item
          .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/34.jpg)')
        .grid__item
          .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/13.jpg)')
        .grid__item
          .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/19.jpg)')
        //- .grid__item
        //-     .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/47.jpg)')
        //- .grid__item
        //-     .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/45.jpg)')
        //- .grid__item
        //-     .grid__item-inner(style='background-image:url(./assets/images/scroll3Dimg/48.jpg)')
    .content__title.content__title--left.content__title--bottom
      | Інфраструктура, 
      span яка  
        span(class="title-accent") не лишить
          br 
          |   вас осторонь!

  section.spa-section
    .spa.section
      .bg-parallax-wrap
        img(src="./assets/images/sectionsBg/section1bg.jpg" alt="фото" img-paralax)
      .container
        div.section-title.spa-title 
          span.section-title__first-row 
            h2 WELNESS 
            span.section-title__accent & 
          h2.section-title__second-row SPA  
          span.section-title__first-row
            span.section-title__number 01
              span.section-title__accent .
            +svg("section-arrow").section__arrow
  section.bulge 
    .container.cards__container
      each card in spaCards 
        .card--without-bulge
          .card__content
            +img(`scroll3Dimg/${card.num}.jpg`).cardOut__img
            .card__mask
          +svg("card-logo").card__logo
          .text
            .text__content
              p.card__number #{card.num>9 ? card.num : "0"+card.num}.
              .text__words=card.text
              p.card__link Дізнатися більше
                +svg("card-arrow").card__link--arrow
  section
    .section.rooftop
      .bg-parallax-wrap
        img(src="./assets/images/sectionsBg/section2bg.jpg" alt="фото" img-paralax)
      .container
        .section-title.spa-title 
          span.section-title__first-row 
            h2 Rooftop 
            span.section-title__accent & 
          h2.section-title__number(style="margin-top:0") Garden
          h2.section-title__second-row Solarium  
          span.section-title__first-row
            span.section-title__number 02
              span.section-title__accent .
            +svg("section-arrow").section__arrow

    .container.cards__container
      each card in rooftopCards 
        .card--without-bulge
          .card__content
            +img(`scroll3Dimg/${spaCards.length +card.num}.jpg`).cardOut__img
            .card__mask
          +svg("card-logo").card__logo
          .text
            .text__content
              p.card__number 0#{card.num}.
              .text__words=card.text
              p.card__link Дізнатися більше
                +svg("card-arrow").card__link--arrow
  section
    .section.ski-fun
      .bg-parallax-wrap
        img(src="./assets/images/sectionsBg/section3bg.jpg" alt="фото" img-paralax)
      .container
        .section-title.spa-title 
          span.section-title__first-row 
            h2 Ski 
            span.section-title__accent & 
          h2.section-title__second-row Fun

          span.section-title__first-row
            span.section-title__number 03
              span.section-title__accent .
            +svg("section-arrow").section__arrow
    .container.cards__container
      each card in skiFunCards
        .card--without-bulge
          .card__content
            +img(`scroll3Dimg/${spaCards.length+rooftopCards.length +card.num}.jpg`).cardOut__img
            .card__mask
          +svg("card-logo").card__logo
          .text
            .text__content
              p.card__number 0#{card.num}.
              .text__words=card.text
              p.card__link Дізнатися більше
                +svg("card-arrow").card__link--arrow
  section
    .section.food
      .bg-parallax-wrap
        img(src="./assets/images/sectionsBg/section4bg.jpg" alt="фото" img-paralax)
      .container
        .section-title.spa-title 
          span.section-title__first-row 
            h2 Food
            span.section-title__accent & 
          h2.section-title__second-row Drinks

          span.section-title__first-row
            span.section-title__number 04
              span.section-title__accent .
            +svg("section-arrow").section__arrow
    .container.cards__container
      each card in foodCards 
        .card--without-bulge
          .card__content
            +img(`scroll3Dimg/${spaCards.length+rooftopCards.length+skiFunCards.length+card.num}.jpg`).cardOut__img
            .card__mask
          +svg("card-logo").card__logo
          .text
            .text__content
              p.card__number 0#{card.num}.
              .text__words=card.text
              p.card__link Дізнатися більше
                +svg("card-arrow").card__link--arrow
  section
    .section.business
      .bg-parallax-wrap
        img(src="./assets/images/sectionsBg/section5bg.jpg" alt="фото" img-paralax)
      .container
        .section-title.spa-title 
          span.section-title__first-row 
            h2 Business
            span.section-title__accent & 
          h2.section-title__second-row Meetings

          span.section-title__first-row
            span.section-title__number 05
              span.section-title__accent .
            +svg("section-arrow").section__arrow
    .container.cards__container
      each card in businessCards 
        .card--without-bulge
          .card__content
            +img(`scroll3Dimg/${spaCards.length+rooftopCards.length+skiFunCards.length+foodCards.length+card.num}.jpg`).cardOut__img
            .card__mask
          +svg("card-logo").card__logo
          .text
            .text__content
              p.card__number 0#{card.num}.
              .text__words=card.text
              p.card__link Дізнатися більше
                +svg("card-arrow").card__link--arrow
  section
    .section.hotel
      .bg-parallax-wrap
        img(src="./assets/images/sectionsBg/section6bg.jpg" alt="фото" img-paralax)
      .container
        .section-title.spa-title 
          span.section-title__first-row 
            h2 Hotel
            span.section-title__accent & 
          h2.section-title__number(style="margin-top:0") Info
          h2.section-title__second-row Services 
          span.section-title__first-row
            span.section-title__number 06
              span.section-title__accent .
            +svg("section-arrow").section__arrow
    .container.cards__container
      each card in hotelCards 
        .card--without-bulge
          .card__content
            +img(`scroll3Dimg/${spaCards.length+rooftopCards.length+skiFunCards.length+foodCards.length+businessCards.length +card.num}.jpg`).cardOut__img
            .card__mask
          +svg("card-logo").card__logo
          .text
            .text__content
              p.card__number 0#{card.num}.
              .text__words=card.text
              p.card__link Дізнатися більше
                +svg("card-arrow").card__link--arrow
  include ../includes/chalet-section.pug
  section
    .section.building
      .container.building-padding
        .svg-title__wrap
          +svg("tree-title").svg-title__tree
          h2.section-title.spa-title.building-title Будівництво
          +svg("leave1").svg-title__leave1.svg-title__leave
          +svg("leave2").svg-title__leave2.svg-title__leave
          +svg("leave3").svg-title__leave3.svg-title__leave
          +svg("leave4").svg-title__leave4.svg-title__leave
          +svg("leave5").svg-title__leave5.svg-title__leave
        .progress-preview
          video.progress-preview__video
            <source src="path" type="video/mp4">
            | Відео не відтворюється на вашому браузері
          .progress-preview__text-wrap
            .progress-preview__date-wrap
              p.progress-preview__month Липень
              p.progress-preview__year 2023
            .progress-preview__descr На сьогодні вже введені в експлуатацію, приймають гостей та приносять власникам пасивний дохід перші два будинки апарт-готелю.
              br
              | Зараз тривають роботи над зведенням третього будинку:
              ul 
                li Монолітний каркас вже залили на 80 відсотків.
                li Зовнішні стіни виконали на 50%.
                li Внутрішні стіни та перегородки влаштували на 15%
                li Сходові марші та майданчики залиті до рівня восьмого поверху.
                li В будинку розпочали влаштування металопластикових вікон.
                li Завдяки злагодженій та організованій роботі будівництво йде швидкими темпами, графік запланованих будівельних робіт суттєво випереджено.
            a(href="#" aria-label="move to building progress page").all-progress-link  
              p Більше звітів
              +svg("link-arrow").svg--link-arrow
  section
    .section.news
      .container 
        .section-title.building-title
          span.section-title__first-row 
            h2 Новини
            span.section-title__accent & 
          span.section-title__first-row 
            a.all-progress-link.all-news-link
              p Перейти до розділу
              +svg("link-arrow").svg--link-arrow
            span Акції
        .news__container
  section
    .section.building.contacts
      .container
        h2.section-title.building-title Контакти
        .contacts__content-map-wrap 
          .contacts__content
            .contacts__email
              p.contacts__label Наша адреса:
              a(href="mailto:reservations@mountain-residence.com").contacts__location Івано-Франківська область, с. Поляниця, урочище Вишні, 421
              a(href="#").all-progress-link.direction-link
                p Прокласти маршрут
                +svg("link-arrow").svg--link-arrow
            .contacts__schedule
              p.contacts__label Графік роботи:
              p.contacts__schedule-info Пн-Нд 9:00-18:00
            .contacts__phone
              p.contacts__label Відділ інвестицій:
              a(href="tel:+38 067 517 68 41").contacts__phone--invest +38 067 517 68 41
            .contacts__phone
              p.contacts__label Відділ бронювання:
              a(href="tel:+38 034 259 50 00").contacts__phone--booking +38 034 259 50 00
            .contacts__email
              p.contacts__label E-mail:
              a(href="mailto:reservations@mountain-residence.com").contacts__email-link reservations@mountain-residence.com
            .contacts__email
              p.contacts__label E-mail:
              ul.contacts__social-list
                li 
                  a(href="tel:+38 034 259 50 00" target="_blank" rel="noreferrer noopener nofollow") instagram
                li 
                  a(href="tel:+38 034 259 50 00" target="_blank" rel="noreferrer noopener nofollow") facebook
                li 
                  a(href="tel:+38 034 259 50 00" target="_blank" rel="noreferrer noopener nofollow") youtube
                li 
                  a(href="tel:+38 034 259 50 00" target="_blank" rel="noreferrer noopener nofollow") cartel restaurants
          .contacts__map(id="map")
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d42414.982348961654!2d24.352758635553503!3d48.36174580883851!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473719c19227218b%3A0x86600928eb33c293!2sMountain%20Residence!5e0!3m2!1suk!2sua!4v1695914623172!5m2!1suk!2sua" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
